body {
  margin: 0;
  padding: 0;
  /* font-family: "DM Sans"; */
}

:root {
  font-size: 10px;
  --color-white: #ffffff;
}

.delius-unicase-regular {
  font-family: "Delius Unicase", cursive;
  font-weight: 400;
  font-style: normal;
}

.delius-unicase-bold {
  font-family: "Delius Unicase", cursive;
  font-weight: 700;
  font-style: normal;
}

.navbar {
  position: fixed;
  display: flex;
  top: 0;
  width: 100vw;
  /* gap: 8vw; */
  background-color: #6f6af7;
  height: 7vh;
  padding: 10px;
  align-items: center;
}

.navbar > div:nth-child(1) {
  margin-left: 5vw;
  font-size: 4em;
  font-family: cursive;
  color: var(--color-white);
}

.navbar > div:nth-child(2) {
  list-style: none;
  display: flex;
  column-gap: 5vw;
  margin-left: 15vw;
  margin-right: 3vw;
  font-size: 1.7em;
  font-family: "DM Sans";
  color: var(--color-white);
}

.navbar > div:nth-child(2) > a {
  text-decoration: none;
  color: var(--color-white);
}

.navbar > div:nth-child(4) {
  margin-top: 1vh;
  margin-right: 4vw;
  margin-left: 11vw;
  font-size: 2em;
  color: var(--color-white);
}

.arrow-down {
  border: 1px solid white;
  margin: 2px 4px;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

#searchbutton1 {
  position: relative;
  width: 14vw;
  height: 2vh;
  border: none;
  border-radius: 20px;
  padding: 9px;
  background-image: url(../img/search-icon.png);
  background-repeat: no-repeat;
  background-size: 9%;
  background-position: 13vw;
}

#searchbutton1::placeholder {
  font-size: 1.2em;
  color: #9f9f9f;
  text-align: center left;
  font-family: "DM Sans";
}

#optionbutton1 {
  height: 4vh;
  width: 2vw;
}

#share-icons {
  position: fixed;
  display: flex;
  flex-direction: column;
  column-gap: 1vh;
  top: 32vh;
  right: -1vw;
  justify-content: right;
  float: right;
  margin-right: 2vw;
}

#share-icons > a > img {
  width: 3.2vw;
}

#help-icon {
  position: fixed;
  justify-content: right;
  bottom: 1vh;
  right: 7vw;
  width: 8vw;
}

.container1 {
  display: flex;
  margin: 25vh 5vw 10vh 5vw;
  gap: 4vw;
}

.container1 > div > img {
  height: 77vh;
  width: 24vw;
  border-radius: 18px;
  box-shadow: 3px 4px 15px 3px #00000070;
}

.container1 > div > textarea {
  height: 68vh;
  width: 57vw;
  background: #e5d8ff;
  border: none;
  border-radius: 15px;
  padding: 5vh 2vw;
  color: #6f7373;
  font-size: 2em;
  font-family: "DM Sans";
  resize: none;
  box-shadow: inset 1px 1px 15px 0px #00000040;
}

.container2 {
  display: flex;
  gap: 14vw;
  margin: 2vh 4vw;
}

.container2 > .items {
  resize: none;
  overflow: hidden;
  padding: 15px;
  height: 8vh;
  width: 12vw;
  font-size: 1.8em;
  font-family: "DM Sans";
  font-weight: 700;
  border: none;
  border-radius: 5px;
  color: white;
  box-shadow: 3px 4px 15px 3px #00000070;
}

.container2 > .items:nth-child(1) {
  background-color: #929dff;
}
.container2 > .items:nth-child(2) {
  background-color: #734cf2;
}
.container2 > .items:nth-child(3) {
  background-color: #d288ff;
}
.container2 > .items:nth-child(4) {
  background-color: #000000;
}

.container3 {
  position: inherit;
  display: flex;
  margin: 10vh 5vw;
  background-color: #483eff;
  border: none;
  border-radius: 10px;
}

.left-space {
  display: flex;
  flex-direction: column;
  gap: 11vh;
  justify-content: center;
  margin: 0 3vw;
}

.left-space > div > button {
  width: 16vw;
  height: 11vh;
  border: 1px solid white;
  border-radius: 10px;
  background: unset;
  color: white;
  font-weight: 700;
  font-size: 2em;
  font-family: "DM Sans";
}

/* .left-space > div > button:hover {
  border: none;
  border-radius: 10px;
  background: #bce0f6;
  color: black;
  font-weight: 700;
} */

.left-space > div:nth-child(1) > button {
  background: #bce0f6;
  color: black;
  box-shadow: 3px 4px 15px 3px #00000070;
}

.right-space {
  position: inherit;
  display: flex;
  flex-direction: column;
  background-color: white;
  color: #04285a;
  margin: 6vh 4vw;
  padding: 20px;
  border-radius: 10px;
  width: 64vw;
  height: 80vh;
}

.right-space > form {
  margin: 8vh 2vw;
}

.right-space > form > div:nth-child(1) {
  font-size: 2.8em;
  font-family: Inter;
  font-weight: 700;
}

.right-space > form > div {
  font-size: 1.8em;
  font-family: Roboto;
}

.right-space > form > div:not(:first-child) {
  margin: 5vh 2vw;
}

.right-space > form > div:nth-child(2) > label > span {
  margin-left: 35px;
}
.right-space > form > div:nth-child(3) > label > span {
  margin-left: 38px;
}
.right-space > form > div:nth-child(4) > label > span {
  margin-left: 32px;
}
.right-space > form > div:nth-child(5) > label > span {
  margin-left: 33px;
}

.right-space > form > div > input {
  height: 4vh;
  padding: 4px;
  margin-left: 3vw;
  color: #143565;
  font-weight: 400;
  font-size: 1.8rem;
  border: none;
  pointer-events: none;
}

#next-button {
  position: relative;
  width: 11vw;
  height: 9vh;
  border-radius: 5px;
  left: 42vw;
  background: black;
  color: white;
  font-size: 1.5em;
  font-family: "Roboto";
}

@media screen and (max-width: 870px) {
  .navbar > div:nth-child(1) {
    font-size: 2.5em;
  }
  .navbar > div:nth-child(2),
  .navbar > div:nth-child(4) {
    font-size: 1.5em;
  }
  .navbar > div:nth-child(4) {
    margin-right: 5vw;
    margin-left: 8vw;
  }
  .container1 > div > img {
    height: 65vh;
  }
  .container1 > div > textarea {
    height: 56vh;
  }
  .container2 > .items {
    font-size: 1.5em;
  }
  .left-space > div > button {
    font-size: 1.5em;
  }
  .right-space > form > div:nth-child(1) {
    font-size: 2.3em;
  }
  .right-space > form > div {
    font-size: 1.3em;
  }
  .right-space > form > div > input {
    font-size: 1.3rem;
  }
}
@media screen and (max-width: 770px) {
  .navbar > div:nth-child(1) {
    font-size: 2em;
  }
  .navbar > div:nth-child(2),
  .navbar > div:nth-child(4) {
    font-size: 1em;
  }
  #searchbutton1::placeholder {
    font-size: 0.7em;
  }
  .container1 > div > textarea,
  .container2 > .items {
    font-size: 1.3em;
  }
  .container2 {
    gap: 9vw;
  }
  .left-space > div > button {
    font-size: 1.2em;
  }
  .right-space > form > div:nth-child(1) {
    font-size: 1.8em;
  }
  .right-space > form > div {
    font-size: 0.8em;
  }
  .right-space > form > div > input {
    font-size: 0.8rem;
  }
}
@media screen and (max-width: 670px) {
  .navbar > div:nth-child(1) {
    font-size: 1.5em;
  }
  .navbar > div:nth-child(2) {
    column-gap: 4vw;
  }
  .navbar > div:nth-child(4) {
    margin-right: 7vw;
  }
  /* #searchbutton1::placeholder {
    font-size: 0.4em;
  } */
  .container1 > div > textarea,
  .container2 > .items {
    font-size: 0.8em;
  }
  .container2 > .items {
    height: 7vh;
    width: 14vw;
  }
  .container2 {
    gap: 7vw;
  }
  .left-space > div > button {
    font-size: 0.8em;
  }
  .right-space > form > div:nth-child(1) {
    font-size: 1.3em;
  }
  .right-space > form > div {
    font-size: 0.6em;
  }
  .right-space > form > div > input {
    font-size: 0.6rem;
  }
}
@media screen and (max-width: 440px) {
  .navbar > div:nth-child(2) {
    margin-left: 3vw;
    margin-right: 2.5vw;
  }
  .navbar > div:nth-child(4) {
    margin-right: 7vw;
    margin-left: 2vw;
  }
  .container1 > div > textarea,
  .container2 > .items {
    font-size: 0.6em;
  }
  .container2 {
    gap: 5vw;
  }
}

@media screen and (max-width: 400px) {
  .navbar {
    height: 5vh;
    align-items: unset;
  }
  .navbar > div:nth-child(1) {
    font-size: 1.5em;
    margin-left: 2vw;
  }
  .navbar > div:nth-child(2) {
    margin-left: 3vw;
    margin-right: 0.5vw;
    gap: 4vw;
  }
  .navbar > div:nth-child(4) {
    margin-right: 3vw;
    margin-left: 4vw;
  }
  #searchbutton1::placeholder {
    font-size: 0.3em;
  }
  #searchbutton1 {
    width: 12vw;
    height: 0vh;
  }
  #search-icon {
    position: absolute;
    bottom: -3vh;
    right: 2vw;
    width: 2vw;
    height: 2vh;
  }
  .navbar > div:nth-child(2) {
    margin-left: -2vw;
    margin-right: 5.5vw;
  }
  .navbar > div:nth-child(4) {
    margin-right: 7vw;
  }
  .container1 {
    margin: 18vh 5vw 4vh 5vw;
    gap: 4vw;
  }
  .container1 > div > img {
    height: 16vh;
    width: 27vw;
  }
  .container1 > div > textarea {
    height: 6vh;
    width: 54vw;
  }
  .container1 > div > textarea,
  .container2 > .items {
    font-size: 0.6em;
  }
  .container2 > .items {
    height: 2vh;
  }
  #share-icons > a > img {
    top: 19vh;
    width: 3.5vw;
  }
  #help-icon {
    bottom: 63vh;
    width: 6vw;
  }
  .container2 {
    gap: 4vw;
  }
  .container3 {
    margin: 5vh 5vw;
  }
  .left-space {
    gap: 5vh;
    margin: 0 2vw;
  }
  .left-space > div > button {
    width: 18vw;
    height: 3vh;
  }
  .right-space {
    display: flex;
    flex-direction: column;
    background-color: white;
    color: #04285a;
    margin: 2vh 4vw;
    padding: 20px;
    border-radius: 10px;
    width: 48vw;
    height: 22vh;
  }
  .right-space > form {
    margin: 2vh 2vw;
  }
  .right-space > form > div:not(:first-child) {
    margin: 1vh 1vw;
  }
  .right-space > form > div:nth-child(2) > label > span {
    margin-left: 12px;
  }
  .right-space > form > div:nth-child(3) > label > span {
    margin-left: 13px;
  }
  .right-space > form > div:nth-child(4) > label > span {
    margin-left: 11px;
  }
  .right-space > form > div:nth-child(5) > label > span {
    margin-left: 11px;
  }
  .right-space > form > div > input {
    height: 3vh;
    padding: 0px;
    margin-left: 3vw;
    color: #143565;
    font-weight: 400;
    border: none;
    font-size: 0.5rem;
  }
}
